*{
    margin: 0;
    padding: 0;
}
.clear{
    clear: both;
}
body
{

}

/*start header-home section */

.header-home
{
    background-image: url(../img/photo_2025-07-28_21-58-48.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top  center;
    background-attachment: fixed;
    height: 100vh;
}

/*start nav-bar */
.navbar-home
{
    width: 80%;
    display: flex;
    justify-content: center;
    /*align-items:flex-start;*/
}
.navbar-home img {
    width: 100px;
    height: 100px;
    margin-left: 173px;
    margin-right: 68px;
}
.navbar-home a {
    margin: 38px 38px 38px 44px;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    color: #dff2f6;
    transition: .3s;
}
.navbar-home a:hover {
    text-decoration: underline;
}

.navbar-home button {
    border: none;
    padding: 10px;
    width: 83px;
    height: 36px;
    color: white;
    background-color: #e5725d;
    border-radius: 13px;
    margin: 30px auto auto 102px;
    transition: .3s;
}
.navbar-home button:active {
    scale: .9;
}
/*end navbar */

/*header-home-content*/
.header-content-home{
    border-radius: 30px;
    color: #dff2f6;
    width: 431px;
    height: 390px;
    margin: 120px 70px auto 213px;
    background-color: #50917e;
    background-attachment: fixed;
    opacity: .9;
}
.header-content-home h2{
    width: 100%;
    margin-left: 20px;
    text-align: left;
    font-size: 55px;
    font-family: monospace;
}
/*end header-home section */

/*==========
clinic section
============
*/
.School-Clinic h2 {
    font-size: 30px;
    font-family: monospace;
    margin: 19px auto;
    width: 16%;
    color: hsl(171.43deg 10.29% 26.67%);
     /*margin-bottom: 10px;*/
}
.School-Clinic hr {
    height: 8px;
    width: 20%;
    background-color:hsl(31.53deg 56.85% 52.75%);
    margin: auto;
}
.father {
    width: 70%;

    margin: 95px auto;
}
.father img {
    float: left;
    width: 47%;
    margin-right: 50px;
}

.father .text h3{
    display: inline-block;
        font-size: 26px;
    font-family: monospace;
    color: hsl(180deg 9.47% 62.75%);
    margin-top: 10px;

    }
.father .text p{
color: hsl(120deg 1.15% 34.12%);
    line-height: 26px;
    word-spacing: 2px;
    font-family: cursive;
    margin-top: 10px;
    }



.service {
    height: 90vh;
    background-image: url(../img/photo_2025-07-28_21-58.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
    position: relative;

}

.service img.bg-overlay {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

.service h2 {
    color: #fff;
    font-size: 30px;
    position: relative;

}

.service-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    position: relative;
}

.box {
    background-color: #fff;
    width: 19%;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.box:hover {
    scale: 1.2;
}

.box h4 {

    font-size: 23px;
    color: #4caf8b;
    padding: 10px 0;
}

.box p {
    font-size: 14px;
    color: #333;
}
.images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   width:90%;
    margin: auto;

}
.images img {
    width:15%;
    margin-top: 81px;
}
.footer-home {
    margin-top: 95px;
    height: 60vh;
    padding-top: 40px;
    background-color: #0F7B64;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    width: 100%;
    background-position: top;
}
.footer-home .footer-content{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.footer-home .text-footer{

        font-size: 17px;
        color: #dff2f6;
        text-align: center;
        line-height: 22px;
        width: 40%;
    margin-left: 88px;


    & h2{
        margin-bottom: 32px;
        margin-top: 9px;
        font-size: 40px;
    }

    }

.footer-home .list-footer{
    display: flex;
  flex-direction: column;
    align-items: center;
}

    .footer-home  .list-footer h3{
        color: rgba(١٧٥, ١١٣, ٢٢, 0.88);
        font-weight: bold;
        font-size: 27px;

    }
.footer-home  .list-footer a {
    text-decoration: none;
    color: #dff2f6;
    font-size: 18px;
    margin: 11px;
}
.footer-home .footer-bottom{
    margin-left: 77px;
    font-weight: bold;
    font-size: 31px;
    color: #dff2f6;
}

.footer-home .footer-bottom p{
    margin-bottom: 17px;

}
